{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Testimonials</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<h1>See What Our Students Say</h1>
    <p><img src="{% static 'images/image1.png' %}"></p>
	<p>All of our students have had something to say after their courses were completed! Students also provide feedback which is duly appreciated!</p>
    <p><input type="button" value="Click Me" onclick="f1()"></p>
</body>
</html>
<script src="{% static 'js/test.js' %}"></script>